body {
    background-color: #FAFAFA;
    margin: 0;
}

.menu-principal1 {
    display: flex;
    background-color: white;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    width: 100%;
    border-bottom: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
    color: #6b6a6a;
}

.menu-principal1 a {
    text-decoration: none;
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
    margin-right: 30px;
}

.logo {
    display: flex;
    margin-left: 2%;
}

.menu-items {
    display: flex;
    align-items: center;
    /* Centre verticalement */
    margin-left: 25%;
}

footer {
    background-color: white;
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 1px 10px #E10606;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: block;
    border-top: 2px solid;
}

footer a {
    color: #E10606;
}

#close-button {
    font-family: "Montserrat", sans-serif;
    border: none;
}

#conditions-link {
    border: none;
}

#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer horizontalement */
    justify-content: center;
    /* Centrer verticalement */
    text-align: center;
    /* Centrer le texte horizontalement */
}

#footer {
    display: flex;
    justify-content: center;
}

.centered-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer horizontalement */
}

footer p {
    color: #595656;
}

main {
    color: #595656;
    display: grid;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    padding-top: 6rem;
    padding-bottom: 6rem;
}

form {
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2 {
    display: flex;
    justify-content: center;
    color: #E10606;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-right: 20%;
}

header img {
    border-radius: 15px;
    border: 2px solid;
    /* épaisseur de la bordure */
    box-shadow: 0 1px 10px #6b6a6a;
    color: #6b6a6a;
}

.menu-icon,
.menu {
    display: none;
}

iframe {
    width: 50rem;
    height: 35rem;
    border-radius: 15px;
    border: 2px solid;
    box-shadow: 0 1px 10px #6b6a6a;
}

.resume p {
    display: flex;
    justify-content: center;
    color: #595656;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 3rem;
}

@media screen and (min-width: 280px) and (max-width: 767px) {

    .resume p {
        font-size: small;
    }

    main {
        padding-top: 4rem;
    }

    .menu-items {
        display: none;
    }

    h2 {
        font-size: small;
        padding-top: 1rem;
        padding-bottom: 0rem;
    }

    .menu-principal1 img {
        width: 2rem;
        border-radius: 5px;
    }

    footer a {
        font-size: x-small;
    }

    footer p {
        font-size: xx-small;
    }

    .menu-icon {
        display: flex;
        /* Afficher l'icône de menu sur les petits écrans */
        align-items: center;
        padding-right: 0.5rem
    }

    button {
        cursor: pointer;
        color: #E10606;
        border: none;
        background: none;
        font-size: 1.5rem;
        margin-left: auto;
        display: contents;
    }

    .menu-principal1 {
        display: flex;
        justify-content: space-between;
        /* Pour aligner les éléments de manière uniforme */
        align-items: center;
        /* Pour centrer verticalement les éléments */
    }


    .liste {
        display: none;
        /* Cache la liste par défaut */
        font-size: xx-small;
    }

    .liste a {
        display: block;
    }

    iframe {
        width: 20rem;
        height: 15rem;
        border-radius: 10px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    .resume p {
        font-size: large;
    }

    footer a {
        font-size: medium;
    }

    footer p {
        font-size: small;
    }

    .menu-principal1 img {
        width: 2rem;
        border-radius: 5px;
    }

    .menu-principal1 {
        display: flex;
        justify-content: space-between;
        /* Pour aligner les éléments de manière uniforme */
        align-items: center;
        /* Pour centrer verticalement les éléments */
    }

    iframe {
        width: 35rem;
        height: 30rem;
        border-radius: 15px;
    }
}

@media screen and (height: 720px) {
    footer {
        margin-top: 7rem;
    }

    iframe {
        margin-top: 7rem;
    }
}

@media screen and (height: 1180px) {
    footer {
        margin-top: 13rem;
    }

    iframe {
        margin-top: 13rem;
    }
}

@media screen and (height: 1024px) {
    footer {
        margin-top: 8.5rem;
    }

    iframe {
        margin-top: 8.5rem;
    }
}

@media screen and (height: 1366px) {
    footer {
        margin-top: 17.1rem;
    }

    iframe {
        margin-top: 17.1rem;
    }
}

@media screen and (height: 1368px) {
    footer {
        margin-top: 17.7rem;
    }

    iframe {
        margin-top: 17.7rem;
    }
}

@media screen and (height: 640px) {
    iframe {
        width: 15rem;
        height: 10rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 7.3rem;
    }

    iframe {
        margin-top: 7.3rem;
    }
}

@media screen and (height: 653px) {
    iframe {
        width: 15rem;
        height: 10rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 8rem;
    }

    iframe {
        margin-top: 8rem;
    }
}

@media screen and (height: 740px) {
    iframe {
        width: 17rem;
        height: 12rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 9.5rem;
    }

    iframe {
        margin-top: 9.5rem;
    }
}

@media screen and (height: 658px) {
    iframe {
        width: 15rem;
        height: 10rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 8rem;
    }

    iframe {
        margin-top: 8rem;
    }
}

@media screen and (height: 667px) {
    iframe {
        width: 17rem;
        height: 12rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 7.3rem;
    }

    iframe {
        margin-top: 7.3rem;
    }
}

@media screen and (height: 896px) {
    iframe {
        width: 19rem;
        height: 14rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 13.2rem;
    }

    iframe {
        margin-top: 13.2rem;
    }
}

@media screen and (height: 812px) {
    iframe {
        width: 19rem;
        height: 14rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 10.8rem;
    }

    iframe {
        margin-top: 10.8rem;
    }
}

@media screen and (height: 844px) {
    iframe {
        width: 19rem;
        height: 14rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 11.6rem;
    }

    iframe {
        margin-top: 11.6rem;
    }
}

@media screen and (height: 851px) {
    iframe {
        width: 19rem;
        height: 14rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 12rem;
    }

    iframe {
        margin-top: 12rem;
    }
}

@media screen and (height: 915px) {
    iframe {
        width: 19rem;
        height: 14rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 14rem;
    }

    iframe {
        margin-top: 14rem;
    }
}

@media screen and (height: 914px) {
    iframe {
        width: 19rem;
        height: 14rem;
        border-radius: 10px;
    }

    footer {
        margin-top: 14rem;
    }

    iframe {
        margin-top: 14rem;
    }
}